@font-face {
  font-family: 'Open Light';
  src: url('open-font/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'Open Middle';
  src: url('open-font/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Light Italic';
  src: url('open-font/OpenSans-LightItalic.ttf');
}
/*Nums*/
@font-face {
  font-family: 'Josefin';
  src: url('josefine/JosefinSlab-Regular.ttf');
}
@font-face {
  font-family: 'Josefin Thin';
  src: url('josefine/JosefinSlab-Thin.ttf');
}
html, body {
	height: 100%;
}
body {
	/*overflow-x: hidden; */
	font-family: "Open Light", sans-serif;
}
.logo-a:hover {
	text-decoration: none;
}
.row {
	margin-left: 0!important;
	margin-right: 0!important;
}
.shorted {
	width: 1313px;
    margin: 0 auto!important;
}
.shorted-team {
    width: 1353px;
    margin: 0 auto!important;
}
.locked {
	overflow: hidden;
}
.text-center {
	text-align: center;
}
.visible {
	display: block!important;
}
.cover-bg {
	height: 100%;
	background-position: center!important;
}
.cover-bg.team-body {
	min-height: 776px;
}
.fresh-jumbo.cover-bg.service-details-bg {
	position: relative;
	background: url("../img/services/service-details-bg.png") no-repeat;
	background-size: cover;
}
.fresh-jumbo.cover-bg.testimonials-bg {
	position: relative;
	background: url("../img/testimonials/imgpsh_fullsize.png") no-repeat;
	background-size: cover;
}
.fresh-jumbo.cover-bg.main {
	position: relative;
	background: url("../img/jumbo-cover.png") no-repeat;
	background-size: cover;
}
.fresh-jumbo.cover-bg.job {
	position: relative;
	background: url("../img/job/jumbo-cover-job.png") no-repeat;
	background-size: cover;
}
.fresh-jumbo.cover-bg.services {
	position: relative;
	background: url("../img/services/service-cover.png") no-repeat;
	background-size: cover;
}
.overflow-color {
	background: rgba(70, 105, 119, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
}
.team-body .overflow-color {
	min-height: 776px;
}
.logo-block-img img {
	width: 74px;
	height: 74px;
	position: relative;
    bottom: 3px;
}
.logo-text {
	font-family: "Open Light", sans-serif;
	color:#ffffff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.logo-block-main.menu-opened {
    position: fixed;
    top: 30px;
    left: 55px;
    z-index: 100000002;
}
.logo-block-main.menu-opened .logo-text {
    color: black;
}
.fresh-nav {
	padding: 0 3%;
    margin-top: 70px;
}
.mail-ico,
.menu-ico {
	position: fixed;
	display: inline-block;
	cursor: pointer;
	height: 16px;
	z-index: 99999999;
}
.mail-ico {
	right: 116px;
	top: 98px;
	transition: left 0.5s ease;
}
/*.mail-ico.onScroll {
	left: 45px;
}*/
.menu-ico {
	right: 74px;
	top: 100px;
}
.mail-ico img {
	vertical-align: inherit;
	width: 25px;
	height: 16px;
}
/*Menu button*/
.menu-ico .stripes {
	display: inline-block;
    width: 18px;
    height: 2px;
    background-color: white;
    z-index: 10;
    position: relative;
    bottom: 7px;
}
.menu-ico .stripes::before {
	content: '';
    position: absolute;
    top: -1px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform .3s;
} 
.menu-ico .stripes:after {
	/* upper and lower lines of the menu icon */
    content: '';
	position: absolute;
	top: 1px;
	right: 0;
	width: 100%;
	height: 2px;
	background-color: white;
	transition: transform .3s;
}
.menu-ico .stripes::before {
 	transform: translateY(-6px) rotate(0deg);
}
 
.menu-ico .stripes::after {
  transform: translateY(6px) rotate(0deg);
}
.menu-ico.close-nav .stripes {
	background: transparent;
}
.menu-ico.close-nav .stripes::before {
  transform: translateY(0) rotate(45deg);
}
 
.menu-ico.close-nav .stripes::after {
  transform: translateY(-2px) rotate(-45deg);
}
/*Menu buton end*/
.logo-block-img {
	display: inline-block;
}
.logo-block {
	margin-left: 7px;
}
.logo-block,
.nav-icons {
	padding: 27px 0;
	display: inline-block;
}
.fresh-title {
	text-align: center;
	font-family: "Open Light", sans-serif;
	color:#ffffff;
	padding: 0 5%;
	position: absolute;
	top: 30%;
	width: 100%;
}
.fresh-title h3 {
	font-size: 22px;
	font-weight: 300;
	vertical-align: middle;
	line-height: 35px;
	margin: 0 0;
}
.fresh-title h3.centered {
    padding:0 29%;
    margin: 0 auto;
}
.fresh-h1 {
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 40px;
}
.hire-btn.light {
	color: #00ffab;
	border: solid 2px #00ffab;
}
.hire-btn {
	font-family: 'Open Middle', sans-serif;
	display: block;
	width: 190px;
	margin: auto;
	text-transform: uppercase;
    color: #00e1a4;
    font-size: 18px;
    padding: 17px 52px;
    position: relative;
    border: solid 2px #00e1a4;
    top: 50px;
    letter-spacing: 2px;
    transition: all 0.7s ease;
}
.hire-btn:hover {
	text-decoration: none;
	/*background: #00e1a4;*/
	border: solid 2px #00e1a4;
	color: white;
}
.color-fill {
	position: absolute;
	background: #00e1a4;
	height: 0;
	width: 100%;
	right: 0;
    bottom: 0;
    z-index: 0;
    transition: all 0.3s;
}
.cover.absolute.pa {
	background: #324866;
}
.pa .link.inherited:hover {
	color: #324866;
}
.hire-btn:hover .color-fill {
	height: 100%;
}
.hire-btn span {
	position: relative;
	z-index: 1;
}
/*Services*/
.fresh-sub-block {
	padding: 0 7%;
}
.spacer {
	visibility: hidden;
}
.fresh-container {
	padding: 0 4%;
	margin-bottom: 7%;
}
.fresh-sub-block .row {
	margin: 0;
}
.fresh-sub-block h2,
.block-header {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	padding: 4% 0;
	font-size: 32px;
	font-weight: 400;
}
.preview-block img {
	width: 81px;
	height: 82px;
	position: relative;
	bottom: 5px;
}
.description {
	padding-right: 5%;
	padding-left: 0;
	margin: 0 0%; 
}
.description.btn {
	margin: 0 14%;
}
.description h3 {
	color:#1a1a1a;
	font-size: 1.5vw;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
	text-transform: uppercase;
}
.description p {
	color:#1a1a1a;
	font-size: 1.2vw;
	font-weight: 300;
	line-height: 22px;
	/*text-align: justify;*/
	line-height: 32px;
	margin: 25px 0px;
}
.description .link {
	display: inline-block;
	text-transform: uppercase;
	position: relative;
	font-family: 'Open Middle', sans-serif;
	color:#00e1a4;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	border-bottom: solid 2px!important;
    padding: 8px 0px;
    letter-spacing: 2px;
    transition: padding 0.1s 0.2s, color 0.1s 0s;
}
.description .link span {
	position: relative;
	z-index: 2;
}
.description .link:hover {
	color: white;
	text-decoration: none;
	padding: 8px 15px;
	transition: padding 0.1s 0s, color 0.1s 0.2s;
}
.description .link .color-fill {
	z-index: 0;
	transition: all 0.2s;
}
.description .link:hover .color-fill {
	height: 100%;
	transition: all 0.2s 0.2s;
}
/*Our works*/
.no-margin {
	margin: 0 0;
}
.no-padding {
	padding: 0;
}
.preview-img {
	position: relative;
	cursor: pointer;
}
.fresh-sub-block.no-padding .work-block,
.fresh-sub-block.no-padding .preview-img {
	padding: 0;
}
.description.padding-custom {
	padding: 5% 5% 0 5%;
} 
.fresh-sub-block.no-padding .description h3 {
	color: white;
}
.fresh-sub-block.no-padding .description p {
	color: white;
}
.link.inherited {
	display: inline-block;
	color: white;
	border-color: white;
}
.link.inherited:hover {
	color: inherit;
	padding: 8px 15px;
}
.link.inherited .color-fill {
	background: white;
}
.work-block img {
	width: 100%;
	height: 25vw;
}
.dark-blue-bg {
	background: #00B3CF;
}
.blue-bg {
	background: #00C7E3;
}
.green-bg {
	background: #00DEA5;
}
.gray-bg {
	background: #91A5AC;
}
.dark-blue-bg .cover {
	color: #00B3CF;
}
.blue-bg .cover {
	color: #00C7E3;
}
.green-bg .cover {
	color: #00DEA5;
}
.gray-bg .cover {
	color: #91A5AC;
}
.cover.absolute {
	/*display: none;*/
	opacity: 0;
	position: absolute;
	bottom: 1px;
	left: 0;
	height: 100%;
	width: 100%;
	background: #00DEA5;
	padding: 7%;
	transition: opacity 0.5s ease;
}
.cover.absolute:hover {
	/*display: block;*/
	color: #00DEA5;
	opacity: 1;
	transition: opacity 0.5s ease;
}
.pixel-down .cover.absolute {
	bottom: 0;
}
/*Testimonial*/
.testimonials-container {
	padding: 7% 0;
}
.testimonial .link {
	margin-top: 27px;
}
.testimonial-block h2 {
	padding-top: 2%;
}
.flex-box,
.flex-box-row {
	flex-wrap: wrap;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    flex-direction: row;
}
.flex-box.stretch {
	align-items: stretch;
}
.black {
	background: black;
}
.flex-item {
	flex: 1;
    flex-grow: 2;
    flex-wrap: wrap;
}
.flex-item.grow1 {
	flex-grow: 1;
}
.flex-item.grow3 {
	flex-grow: 3.09;
}
.flex-item.grow1 img,
.flex-item.grow2 img,
.flex-item.grow3 img {
	width: 100%;
	position: relative;
	bottom: 1px;
}
.flex-item.grow2.big-pic {
	flex-grow: 2.001;
}
.testi-head-icons {
	margin-top: 44px;
	display: inline-block;
	width: 100%;
	text-align: center;
}
.testi-head-icons img {
	height: 63px;
    margin: 0 24px;
    width: 62px;
}
#apple-icon {
	position: relative;
    bottom: 6px;
}
#wb-icon {
	height: 73px;
    margin: 0 24px;
    width: 62px;
}
#lg-icon {
	height: 76px;
    margin: 0px 18px;
    width: 107px;
}
.testimonial img {
	position: relative;
	height: 25vw;
    margin: 0 auto;
    position: relative;
}
.testimonial-text {
	position: relative;
	font-family: "Open Light Italic", sans-serif;
	color:#1a1a1a;
	font-size: 22px;
	font-style: italic;
	line-height: 30px;
	text-align: justify;
	margin: 0 14%;
}
.testimonial-text:before {
	content: url(../img/quotes_left.svg);
    height: 27px;
    width: 41px;
    display: block;
    position: absolute;
    left: -61px;
    top: -12px;
}
.testimonial-text:after {
	content: url(../img/quotes_right.svg);
    height: 27px;
    width: 41px;
    display: block;
    position: absolute;
    right: -38px;
    bottom: -10px;
}
.testi-name {
	display: inline-block;
    font-size: 32px;
    font-family: "Open Middle", sans-serif;
    text-transform: uppercase;
    margin: 2% 14%;
}
.testi-company {
	font-size: 22px;
	font-family: "Open Light", sans-serif;
	text-transform: uppercase;
	margin: 0 14%;
}
.right {
	position: relative;
	margin: 0 14%;
}
/*Blogs */
.fresh-sub-block.no-padding .description.blog {
	padding: 10%;
}
.description.blog p {
	height: 174px;
	-webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
	overflow: hidden;
    text-overflow: ellipsis;
}
.fresh-sub-block.no-padding .description.blog .date {
	font-family: 'Open Middle', sans-serif;
	color: white;
	font-size: 17px;
	display: block;
	margin-top: 40px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*The team*/
.team-section {
	margin-bottom: 7%;
}
.the-team h2 {
	padding-bottom: 2%;
}
.the-team img {
	width: 37vw;
    margin: 0 auto;
}
.team-desc {
	display: inline-block;
	width: 100%;
	text-align: center;
	color:#1a1a1a;
	font-size: 1.3vw;
	padding: 0 20%;
	margin-bottom: 2%;
}
.count,
.count-lable {
	display: inline-block;
}
.team-container.row {
	padding-top: 5%;
	/*padding-left: 11%;*/
}
.count {
    font-size: 4.2vw;
    color: #1D8DF1;
    padding-right: 71px;
    line-height: 69px;
    font-family: "Josefin Thin", sans-serif;
}
.count-lable {
	font-size: 1.27vw;
	text-transform: uppercase;
}
.link.team {
	margin-top: 11px;
	left: 3%;
}

/*Job*/
/*customized accordion*/
.panel-group.fresh-panel {
	margin-top: 4rem;
    margin-bottom: 6rem;
}
.fresh-panel.panel-group .panel + .panel {
	margin-top: 2.5rem;
}
.fresh-panel .panel {
	border: none;
	box-shadow: none;
}
.fresh-panel .panel-body-header {
	font-family: 'Open Middle';
	font-size: 22px;
}
.fresh-panel .panel-collapse {
	padding-left: 3rem;
}
.fresh-panel .panel .panel-heading {
	padding: 0;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	color: #2f51bc;
}
.fresh-panel .panel .panel-heading a {
	font-family: 'Open Middle';
	color:  #2f51bc;
	/*font-size: 17.99px;!* Approximation due to font substitution *!*/
	font-weight: 600;
	text-align: left;
	transform: scaleY(1.0003);/* width and height properties ommitted due to transform */
}
.fresh-panel .panel .panel-heading a:hover { 
	text-decoration: none;
}
.fresh-panel.panel-group .panel-heading + .panel-collapse > .panel-body {
	border: none;
}
.fresh-panel.panel-group .panel-heading + .panel-collapse > .panel-body .panel-body-header {
	font-weight: bold;
}
.fresh-panel.panel-group .panel-heading + .panel-collapse > .panel-body ul {
	margin-bottom: 0;
	padding-left: 6rem;
}
.fresh-panel.panel-group .panel-heading + .panel-collapse > .panel-body ul li {
	font-size: 22px;
	list-style: none;
	padding-bottom: 1.2rem;
}
.fresh-panel.panel-group .panel-heading + .panel-collapse > .panel-body ul li:last-child {
	padding-bottom: 0;	
}
.fresh-panel.panel-group .panel-heading + .panel-collapse > .panel-body ul li:before {
	content: "";
    border-color: transparent #A3B3B9;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    display: block;
    height: 0;
    width: 0;
    left: -5.6rem;
    top: 2.3rem;
    position: relative;
}
.m-b-3 {
	margin-bottom: 3rem;
}
.m-t-5 {
	margin-top: 12rem
}
.m-b-5 {
	margin-bottom: 12rem
}
.m-b-6 {
	margin-bottom: 20rem;
} 
.attach-link {
    display: inline-block;
    width: 250px;
    font-size: 18px;
    padding: 17px 52px;
    position: relative;
    top: 50px;
    letter-spacing: 2px;
    color: #000;
}
.clip-img {
	/*background-image: url(../img/job/clip.svg);
	background: -webkit-linear-gradient(38deg, #2f88f7 24%, #03cafe 76%);
	background: -moz-linear-gradient(38deg, #2f88f7 24%, #03cafe 76%);
	background: -o-linear-gradient(38deg, #2f88f7 24%, #03cafe 76%);
	background: -ms-linear-gradient(38deg, #2f88f7 24%, #03cafe 76%);
	background: linear-gradient(52deg, #2f88f7 24%, #03cafe 76%);*/
	width: 19px;
	height: 44px;
}
.inline-block {
	display: inline-block;
}
/*Footer*/
.fresh-footer {
	padding: 7% 0;
}
.social-icons {
	width: 25px;
	height: 25px;
}
.footer-list {
	padding: 0;
	margin-top: none;
	list-style: none;
	color: #ffffff;
	font-size: 22px;
	margin: 0 auto;
	display: inline-block;
}
.footer-list.links li a:hover,
.footer-list.social li a:hover {
	border-bottom: solid 2px white;
	text-decoration: none;
}
.footer-list.contacts {
	text-align: left;
}
.footer-list li a {
	color: white;
	line-height: 43px;
}
.footer-list li img {
	margin-right: 10px;
	position: relative;
    bottom: 5px;
}
.footer-logo-text {
	text-transform: uppercase;
	margin: 14px 0;
}
.copyright {
	font-size: 16px;
}
.li-head {
	text-transform: uppercase;
    color: white;
    font-size: 32px;
    position: relative;
    bottom: 10px;
}
/*Footer animation*/
.fresh-footer.dynamic {
    background: -webkit-linear-gradient(150deg, #00ffbd, #15b5ff, #3187ff, #00d579);
    background: -o-linear-gradient(150deg, #00ffbd, #15b5ff, #3187ff, #00d579);
    background: linear-gradient(240deg, #00ffbd, #15b5ff, #3187ff, #00d579);
	background-size: 800% 800%;
	-webkit-animation: AnimationName 12s ease infinite;
	-moz-animation: AnimationName 12s ease infinite;
	-o-animation: AnimationName 12s ease infinite;
	animation: AnimationName 12s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
/*------------------------Web Development Page CSS-------------------------*/
.gradient-body {
	background: -webkit-linear-gradient(150deg, #00ffbd, #15b5ff, #3187ff, #00d579);
    background: -o-linear-gradient(150deg, #00ffbd, #15b5ff, #3187ff, #00d579);
    background: linear-gradient(240deg, #00ffbd, #15b5ff, #3187ff, #00d579);
	background-size: 800% 800%;
	-webkit-animation: AnimationName 12s ease infinite;
	-moz-animation: AnimationName 12s ease infinite;
	-o-animation: AnimationName 12s ease infinite;
	animation: AnimationName 12s ease infinite;
}
.main-icon-container {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 7%;
}
.web-dev-container {
	color: white;
	padding-bottom: 7%;
}
.web-dev-container .fresh-h1 {
	margin: 33px 0;
}
.web-dev-icon {
	width: 83px;
	height: 65px;
}
.web-dev-row {
	margin: 0 0 33px 0;
}
.web-dev-row .count {
	margin-right: 33px;
	padding-right: 0;
	text-align: right;
	color: white;
	bottom: 3px;
    font-size: 71px;
}
.web-dev-row .description-text {
	font-size: 22px;
}
.web-dev-tech {
	background: white;
}
.fresh-sub-block .row.web-dev-teches {
	margin: 90px 0;
}
.web-dev-teches div {
	margin-bottom: 75px;
}
.web-dev-teches img {
	height: 60px;
	margin: 0 auto;
}
.web-dev-teches .upper {
	position: relative;
    bottom: 11px;
}
.web-dev-button-zone {
	text-align: center;
	padding-bottom: 70px;
}
.web-dev-request-btn {
	width: 286px;
	top: 0;
}
.web-dev-p {
	font-size: 22px;
	margin-top: 9%;
	text-align: center;
}
/*------------------------Circles menus----------------------------------*/
.circle-menu,
.circle-form {
    border-radius: 50%;
    z-index: 1;
    width: 39px;
    height: 38px;
    background: transparent;
    position: absolute;
    top: -12px;
    right: -10px;
}
.circle-form {
	top: -11px;
    right: -7px;
}
.circle-form.opened,
.circle-menu.opened {
	cursor: default;
	background: white;
}
.mail-activator-b {
	position: relative;
	z-index: 10;
}
#dark-mail-icon{
	display: none;
}
#light-mail-icon{
	display: none;
}
.menu-ico:hover span,
.menu-ico:hover span:before,
.menu-ico:hover span:after,
.menu-ico img ,
.menu-ico.close-nav span:before,
.menu-ico.close-nav span:after,
.menu-ico.onScroll span,
.menu-ico.onScroll span:before,
.menu-ico.onScroll span:after {
	background: black;
}
.menu-ico:hover .circle-menu,
.mail-ico:hover .circle-form,
.menu-ico.onScroll .circle-menu,
.mail-ico.onScroll .circle-form
/* .mail-ico .circle-form */ {
	background: white;
}
/*------------------------Main navigation menu---------------------------*/
.main-nav-block,
.mail-popup-block {
	width: 75%;
    height: 100vh;
    left: 50%;
    margin-left: -37.5%;
    position: fixed;
    z-index: 999999999;
    top: 0;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    display: none;
}
.main-nav-block.menu-opened,
.mail-popup-block.menu-opened {
	display: flex;
}
.main-nav-menu,
.mail-popup-block {
	padding: 0;
    list-style: none;
}
.mail-popup-block {
	flex-direction: column;
}
.main-nav-menu .description {
	margin-top: 55px;
	padding-right: 0!important;
}
.main-nav-menu li {
	margin: 10px 0;
	font-size: 18px;
	text-transform: uppercase;
}
.main-nav-menu li a {
	letter-spacing: 1px;
	color: black;
	font-family: 'Open Middle', sans-serif;
}
.main-nav-menu li a:hover {
	text-decoration: none;
	border-bottom: solid 2px;
}
/*------------------------Services Details-------------------------------*/
.service-d-blue-num {
	font-size: 57px;
	color: #02E3F9;
	font-family: "Josefin Thin", sans-serif;
}
.service-d-ul {
	list-style: none;
	padding: 0;
}
.service-d-ul li {
	margin: 0 14px;
}
.service-d-ul li {
	display: inline-block;
}
.service-d-ul li a {
	font-family: "Open Middle", sans-serif;
	color: white;
	font-size: 22px;
	text-transform: uppercase;
	border-bottom: solid 2px transparent;
	padding-bottom: 3px;
}
.service-d-ul li a:hover {
	text-decoration: none;
	border-bottom: solid 2px white;
}
.badge.custom {
	background: transparent;
	font-size: 18px;
    bottom: 18px;
    position: relative;
}
.service-h1 {
	margin-bottom: 62px;
}
/*------------------------Our team---------------------------------------*/
.our-team.fresh-title {
	top: 20%;
}
.main-team {
	margin-top: -26.12%;
}
.team-sub-block {
	padding: 5% 12%;
}
.employee-card {
	padding: 2%;
}
.employee-photo {
	width: 100%;
}
.employee-name,
.employee-position {
	display: block;
	text-align: center;
	color:  #ffffff;
	font-size: 21px;
}
.employee-name {
	font-family: 'Open Middle', sans-serif;
}
.employee-position {
	font-family: 'Open Light', sans-serif;
}
.employee-info {
	background: #00DFA3;
	padding: 20px 0;
}
.rest-team {
	margin: 7% auto;
	text-align: center;
	width: 100%;
}
.proj-d-sample {
	background: white;
	padding: 4% 0;
}
.proj-d-sample h2,
.proj-d-sample p {
	color: black;
	text-align: left;
}
.proj-d-sample p {
	font-size: 22px;
}
.sample-container {
	padding: 0 5%;
}
.sample-container .img-container {
	padding: 13% 0;
	position: relative;
}
.next-proj {
    margin: 4% auto;
    text-align: center;
    width: 100%;
}
/*------------------------Project Details--------------------------------*/
.proj-details-body {
	background: #7EB1A8;
	color: white;
}
.proj-d-h1 {
	text-align: left;
}
.proj-d-bold,
.proj-d-thin  {
	font-size: 22px;
}
.proj-d-bold {
	font-family: "Open Middle", sans-serif;
}
.proj-d-sub-block {
	margin: 9% 0; 
}
.img-container img {
	margin: 0 auto 7% auto
}
/*------------------------Form Styles------------------------------------*/
.form-header .fresh-h1 {
	margin-bottom: 9%;
}
.form-header,
.material-form {
	width: 100%;
	display: block;
}
.material-input,
.material-input:focus {
	background: transparent;
	width: 100%;
	border: transparent;
	border-bottom: solid 1px #cacaca;
	outline: none;
	font-size: 22px;
    padding: 17px;
}
.material-box {
	margin-bottom: 2%;
}
.material-input:focus {
	border-bottom: solid 2px #cacaca!important;
}
.submit-block {
	margin-top: 7%;
}
.hire-btn.button {
	background: transparent;
	outline: none;
	border-color: #00e1a4!important;
}
.hire-btn.button:hover {
	border-color: #00e1a4!important;
}
.contacts.info li:first-child {
	margin-bottom: 7px;
}
/*Play Attention*/
.proj-d-thin:link {
	color: white;
	text-decoration: underline;
}
.play-attention {
	background: #576886;
}
.PA-p-tag {
	font-size: 22px;/* Approximation due to font substitution */
	font-weight: 300;
}
.PA-p-tag.white-text {
	color: white;
}
.margin-b-14em {
	margin-bottom: 14em!important;
	min-height: 26em;
}
.no-min-height {
	margin-bottom: 14em;
}
.rised-img-15em {
	position: absolute;
	top: -10em
}

/*------------------------Responsive styles------------------------------*/
@media screen and (max-width: 1430px) {
	.fresh-sub-block.no-padding .description p {
		line-height: 25px;
		margin: 13px 0px;
	}
	.shorted,
	.shorted-team {
		width: 100%;
	}
	.employee-name,
	.employee-position {
		font-size: 15px;
	}
}
@media screen and (max-width: 1191px) {
	.employee-name,
	.employee-position {
		font-size: 15px;
	}
}
@media screen and (max-width: 1085px) {
	.li-head {
		font-size: 20px;
	}
	.footer-list {
		font-size: 18px;
	}
}
@media screen and (max-width: 1150px) {
	.fresh-sub-block.no-padding .description h3 {
		font-size: 18px;
		margin-top: 0;
	}
	.fresh-sub-block.no-padding .description p {
		font-size: 14px;
	}
}
@media screen and (max-width: 991px) {
	.main-team {
		margin-top: -33.9%;
	}
	.fresh-title h3.centered {
    	padding:0 21%;
	}
}
@media screen and (max-width: 940px) {
	.description .link {
		font-size: 20px;
	}
	.testimonial-text {
    	font-size: 20px;
	}
}
@media screen and (max-width: 918px) {
	.fresh-sub-block.no-padding .description h3 {
		font-size: 18px;
	}
}
@media screen and (max-width: 900px) {
	.fresh-sub-block.no-padding .description .link {
		font-size: 15px;
	}
	.fresh-sub-block.no-padding .description {
		padding: 0 5% 0 5%;
	}
	.fresh-sub-block.no-padding .description p {
		margin: 5px 0;
	}
	.employee-name,
	.employee-position {
		font-size: 12px;
	}
	.fresh-sub-block.no-padding .description.no-padding-m {
		padding: 0!important;
	}
}
@media screen and (max-width: 810px) {
	.fresh-sub-block.no-padding .description p {
    	line-height: 21px;
    	font-size: 20px;
	}
}
@media screen and (max-width: 790px) {
	.description .link {
		font-size: 20px;
	}
}
@media screen and (max-width: 768px) {
	.m-t-5 {
		margin-top: 6rem
	}
	.m-b-5 {
		margin-bottom: 6rem
	}
	.m-b-6 {
		margin-bottom: 10rem;
	}
	.fresh-panel.panel-group .panel-heading + .panel-collapse > .panel-body ul li:before {
		top: 1.6rem;
	}
	.fresh-panel.panel-group .panel-heading + .panel-collapse > .panel-body ul li {
		font-size: 16px;
	}
	.shorted {
		text-align: center;
	}
	footer .shorted {
		text-align: left;
	}
	.fresh-nav {
		padding: 0 5%;
    	margin-top: 7px;
	}
	.fresh-title {
		top: 20%;
	}
	.fresh-h1 {
		font-size: 24px;
	}
	.fresh-h2 {
		font-size: 18px!important;
	}
	.fresh-h3 {
		font-size: 16px!important;
	}
	.fresh-h4 {
		font-size: 14px!important;
	}
	.fresh-title h3 {
		font-size: 20px;
	} 
	.logo-block-img img {
		height: 37px;
		width: 37px;
	}
	.logo-block,
	.nav-icons {
		padding: 13.5px 0;
	}
	.mail-ico {
		top: 24px;
	}
	.mail-ico.onScroll {
		top: 24px;
		left: 25px;
	}
	.menu-ico {
		top: 26px;
		right: 30px;
	}
	/*Services*/
	.description h3 {
    	font-size: 26px;
    	text-align: center;
	}
	.description p {
		font-size: 20px;
	}
	.fresh-sub-block {
		padding: 0;
	}
	.preview-block {
		padding: 0;
	}
	.preview-block img {
		width: 71px;
		height: 72px;
		margin: 0 auto;
	}
	.description {
		padding: 0;
		text-align: center;
	}
	.fresh-container {
		margin: 30px 0;
	}
	/*Our work*/
	.fresh-sub-block.no-padding .description {
		padding: 5% 5% 10% 5%!important;
		text-align: center;

	}
	.cover h3 {
		margin-bottom: 21px;
	}
	.left-align {
		text-align: left!important;
	}
	/*Testimonial*/
	.flex-box.reversed-box {
		flex-direction: column-reverse;
	}
	.flex-box {
		flex-direction: column;
	}
	.testimonial-img {
		margin-bottom: 61px;
	}
	.testimonial img {
		height: 210px;
	}
	.testimonial-text {
		margin: 0 2%;
	}
	.testimonial-text:before {
    	left: 0;
    	width: 38px;
    	position: relative;
	}
	.testimonial-text:after {
		left: 86%;
		width: 38px;
		position: relative;
	}
	.testimonial-writtings {
    	padding-top: 0;
	}
	.testi-name,
	.testi-company {
		display: block;
	}
	.testi-name {
		text-align: center;
		font-size: 25px;
	}
	.testi-company {
		text-align: center;
		font-size: 18px;
	}
	.team-container.row {
		padding-top: 0;
	}
	.team-desc {
		font-size: 3.5vw;
	}
	.count {
		font-size: 4.4em;
    	padding: 0px 10px 0 15px;
    	text-align: right;
	}
	.count-lable {
		font-size: 20px;
		padding-left: 0;
	}
	.link.team {
		left: 0;
	}
	.li-head {
		font-size: 28px!important;
		font-family: "Open Middle", sans-serif;
	}
	.footer-list {
		font-size: 12px;
	}
	.hide-on-mobile {
		display: none;
	}
	.social-icons {
		height: 26px;
		width: 26px;
	}
	.footer-list {
		display: block;
    	margin-bottom: 46px;
    	margin-left: 39px;
	}
	.footer-list li a,
	.footer-list li {
		color: white;
		line-height: 41px;
		font-size: 22px;
	}
	.footer-list li img {
		margin-right: 31px;
		bottom: 5px;
	}
	.empty-field {
		display: inline-block;
		height: 0;
    	width: 51px;
    	margin-right: 15px;
	}
	.copyright-block {
		margin-bottom: 31px;
	}
	.info .li-head {
		margin-bottom: 4px;
	}
	.the-team img {
    	width: 73vw;
	}
	.team-desc {
	    font-size: 18px;
    	padding: 0 4%;
	}
	.web-dev-row .description-text {
		font-size: 19px;
	}
	.web-dev-row .count {
    	margin-right: 8px;
    	text-align: left;
    	padding-left: 3px;
    }
    .web-dev-button-zone {
		padding-bottom: 70px;
	}
	.fresh-sub-block .row.web-dev-teches {
		margin: 45px 0 25px 0;
	}
	.web-dev-teches div {
		margin-bottom: 20px;
	}
	.web-dev-p {
		font-size: 18px;
		padding: 0 30px;
	}
	.fresh-title h3.centered {
	    padding: 0;
	}
	.fresh-sub-block h2, .block-header {
	    font-size: 25px;
	}
	.social-icons.footer {
		height: 48px;
    	width: 45px;
    	margin-right: 15px;
	}
	.copyright.margined {
		font-size: 19px;
	}
	/*Menu animations*/
	.logo-block-main.menu-opened {
		top: 7px;
		left: 30px;
	}
	.service-d-ul li {
		margin: 0;
	}
	.service-d-ul li a {
		font-size: 16px;
	}
	.service-d-blue-num {
    	font-size: 37px;
	}
	.fresh-h1.service-h1 {
		margin-bottom: 62px;
	}
	#apple-icon {
		position: relative;
    	bottom: 6px;
	}
	#wb-icon {
		height: 53px;
    	margin: 0 14px;
    	width: 42px;
	}
	#lg-icon {
		height: 56px;
    	margin: 0px 18px;
    	width: 87px;
	}
	.employee-name,
	.employee-position {
		font-size: 24px;
	}
	.employee-card {
    	padding: 9%;
	}
	.main-team {
		margin-top: 0;
	}
	.fresh-title.our-team {
		top: 30%
	}
	.proj-d-sub-block {
		padding: 0 5%;
	}
	.img-container {
		padding: 0 3%;
	}
	.proj-d-bold,
	.proj-d-thin  {
		font-size: 18px;
	}
	.team-body .overflow-color,
	.cover-bg.team-body {
		min-height: 100%;
	}
	.paddinged {
		padding: 0 5%;
	}
	.PA-img {
		padding: 0!important;
		margin: 0!important;
	}
	.PA-img .img-responsive {
		position: relative;
		top:0;
		margin: 0!important;
	}
	.margin-b-14em {
		margin-bottom: 3em!important;
	}
	.work-block img {
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width: 640px) {
	.logo-block-main.menu-opened {
    	left: 20px;
	}
}
@media screen and (max-width: 568px) {

}
@media screen and (max-width: 425px) {
	.submit-btn {
		margin: auto;
		display: block;
	}
	.attach-link {
		margin: 20px auto 0;
		display: block;
	}
}
@media screen and (max-width: 360px) {
	/*IPhone5 styles*/
	.preview-block img {
		height: 57px;
		width: 57px;
		top: 5px;
		bottom: 0;
	}
	.fresh-h1 {
		margin-bottom: 10px;
	}
	.description .link {
		font-size: 12px;
	}
	.logo-block-img.menu-opened img {
    	top: 15px;
    	left: 15px;
	}
	.service-d-ul li a {
		font-size: 14px;
	}
	.service-d-blue-num {
    	font-size: 32px;
	}
	#apple-icon {
		position: relative;
    	bottom: 6px;
    	width: 40px;
	}
	#wb-icon {
		height: 53px;
    	margin: 0 1px;
    	width: 32px;
	}
	#lg-icon {
		height: 56px;
    	margin: 0px 18px;
    	width: 77px;
	}
	.footer-list li {
    	font-size: 18px;
	}
}
@media screen and (max-height: 468px) {
	.hire-btn {
    	top: 20px;
    	padding: 10px 32px;
	}
	.fresh-h1 {
		margin-bottom: 0px;
	}
	.fresh-title h3 {
		line-height: 25px;
	}
	.main-nav-menu li {
		margin: 5px 0;
		font-size: 16px;
		text-transform: uppercase;
	}
	.main-nav-menu .description {
		margin-top: 15px;
	}
}
@media screen and (min-width: 768px) {
	.show-on-mobile {
		display: none;
	}	
}