@font-face {
  font-family: 'Open Light';
  src: url('open-font/OpenSans-Light.ttf');
}
@font-face {
  font-family: 'Open Middle';
  src: url('open-font/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Light Italic';
  src: url('open-font/OpenSans-LightItalic.ttf');
}
/*Nums*/
@font-face {
  font-family: 'Josefin';
  src: url('josefine/JosefinSlab-Regular.ttf');
}
@font-face {
  font-family: 'Josefin Thin';
  src: url('josefine/JosefinSlab-Thin.ttf');
}
html,
body {
	height: 100%;
	overflow-x: hidden; 
	font-family: "Open Light", sans-serif;
}

body {
    background: -webkit-linear-gradient(150deg, #00ffbd, #15b5ff, #3187ff, #00d579);
    background: -o-linear-gradient(150deg, #00ffbd, #15b5ff, #3187ff, #00d579);
    background: linear-gradient(240deg, #00ffbd, #15b5ff, #3187ff, #00d579);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
@keyframes AnimationName {
    0%{background-position:0% 67%}
    50%{background-position:100% 34%}
    100%{background-position:0% 67%}
}
.logo-block-img img {
  width: 74px;
  height: 74px;
  position: relative;
    bottom: 3px;
}
.logo-text {
  font-family: "Open Light", sans-serif;
  color:#ffffff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.fresh-nav {
  padding: 0 3%;
    margin-top: 30px;
}
.mail-ico,
.menu-ico {
  position: fixed;
  display: inline-block;
  cursor: pointer;
  height: 16px;
  z-index: 99999999;
}
.mail-ico {
  right: 100px;
  top: 62px;
}
.menu-ico {
  right: 63px;
  top: 63px;
}
.mail-ico.onScroll {
  left: 63px;
  right: auto;
}
.mail-ico img {
  vertical-align: inherit;
  width: 25px;
  height: 16px;
}
/*Menu button*/
.menu-ico .stripes {
  display: inline-block;
    width: 18px;
    height: 2px;
    background-color: white;
    z-index: 10;
    position: relative;
    bottom: 7px;
}
.menu-ico .stripes::before {
  content: '';
    position: absolute;
    top: -7px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: transform .3s;
} 
.menu-ico .stripes:after {
  /* upper and lower lines of the menu icon */
    content: '';
  position: absolute;
  top: 7px;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform .3s;
}
/*Menu buton end*/
.logo-block-img {
  display: inline-block;
}
.logo-block {
  margin-left: 7px;
}
.logo-block,
.nav-icons {
  padding: 27px 0;
  display: inline-block;
}